<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050252653178-0s72s912kfd9b9cl940sbsuba54g6v1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050252653178-0s72s912kfd9b9cl940sbsuba54g6v1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAqAbkEl7avwCToF5BsyIOHA62NDSaGOaE</string>
	<key>GCM_SENDER_ID</key>
	<string>1050252653178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enestekin.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-f7b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-f7b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050252653178:ios:9295af92866cc619b0c1c3</string>
</dict>
</plist>